* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #f9f9f9;
}

header {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}

.logo img {
    max-width: 150px;
    height: auto;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

.song-container {
    flex: 1;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.song-list {
    list-style-type: none;
    padding: 0;
}

.song-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.song-item a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    flex-grow: 1;
}

.song-item .release-date {
    color: #777;
    font-size: 14px;
    margin-left: 10px;
}

.song-item:hover {
    background-color: #f0f0f0;
}
